<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="http://i.imgur.com/6FhhVTE.png?1" 
                 class="img-responsive center-block"
                 style="max-height:500px;padding-bottom:50px;padding-top:30px"/>
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h5 class="text-center">
                <div>Sonia Mora Carrion</div>
                <div>Nicolás Andrés Rodríguez</div>
            </h5>

            <div class="text-center">Universidad Libre de Colombia</div>
            <div class="text-center">
                <a href="http://www.unilibre.edu.co/Bogota/facultad/pregrado/ingenieria/ingenieria-de-sistemas">Facultad de ingeniería</a>
            </div>
        </div>
    </div>
</div>