<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-footer">
        <form [ngFormModel]="registerTag" (submit)="doRegister($event)" >
	    <div class="form-group">
		<label for="tagInput">Tag</label>
		<input ngControl="tag" class="form-control" type="text" placeholder="tag identifier" id="tagInput"/>
	    </div>
	    <div class="form-group">
		<label for="tagInput">Device</label>
	        <input ngControl="device" class="form-control" type="text" placeholder="device identifier"/>
	    </div>
	    <div class="form-group">
		<label for="tagInput">Name</label>
	        <input ngControl="displayName" class="form-control" type="text" placeholder="device name"/>
	    </div>
	    <div class="form-group">
		<label for="tagInput">Detail</label>
	        <input ngControl="detail" class="form-control" type="text" placeholder="details"/>
	    </div>
	    <div class="form-group">
		<label for="tagInput">Price</label>
	        <input ngControl="price" class="form-control" type="number" placeholder="price of device"/>
	    </div>
	    <div class="form-group">
		<label for="tagInput">Rating</label>
	        <input ngControl="rating" class="form-control" type="number" placeholder="rating of device"/>
	    </div>
	    <div class="form-group">
		<label for="tagInput">Image url</label>
	        <input ngControl="imageUrl" class="form-control" type="text" placeholder="image url"/>
	    </div>
	    <div class="form-group">
	        <button type="submit" class="btn btn-primary" style="width:80px">
            	    <i class="glyphicon glyphicon-save"></i> Save
	        </button>
	    </div>
        </form>
    </div>
</div>
