<form (submit)="doRegister($event)" >
    <div class="panel panel-primary">
        <div class="panel-heading">
        {{pageTitle}}
        </div>
        <div class="panel-body" style="max-width:500px;">
            <div class="form-group">
                <label>Tag</label>
                <input [(ngModel)]="tag.tag" class="form-control" type="text" placeholder="tag identifier"/>
            </div>
            <div class="form-group">
                <label>Device</label>
                <input [(ngModel)]="tag.name" class="form-control" type="text" placeholder="device identifier"/>
            </div>
            <div class="form-group">
                <label>Detail</label>
                <input [(ngModel)]="tag.detail" class="form-control" type="text" placeholder="details"/>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input [(ngModel)]="tag.price" class="form-control" type="number" placeholder="price of device"/>
            </div>
            <div class="form-group">
                <label>Rating</label>
                <input [(ngModel)]="tag.rating" class="form-control" type="number" placeholder="rating of device"/>
            </div>
            <div class="form-group">
                <label>Image url</label>
                <input [(ngModel)]="tag.imageUrl" class="form-control" type="text" placeholder="image url"/>
            </div>
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width:80px">
                    <i class="glyphicon glyphicon-save"></i> Save
                </button>
            </div>
        </div>
    </div>
</form>
